body
{
background:rgba(0,0,0,0.9);
}
#left
{
	width:250px;
	float:left; 
	padding:20px 20px 0 20px;	
}
#right
{
	width:320px;
	float:left;	
	padding:20px 20px 0 20px;	
}
#left input
{
	float:right;	
}
#right input
{
	float:right;
}
#right select
{ float:right;
width:143px;
	
}
tr th
{
	background-color:rgba(10,10,10,0.7);
	color:#0F0;
	font-weight:bold;
	font-family:"Lucida Console", Monaco, monospace;
	
}
tr td
{
color:#FFF;
text-align:center;	
}
tr td a
{
color:rgba(200,100,10,0.9);	
text-decoration:none;
font-weight:bold;
}
tr td a:hover
{
color:rgba(255,100,255,0.9);	
text-decoration:none;
font-weight:bold;
}
tr:nth-of-type(odd) {
  background-color:grey;
} 
tr:nth-of-type(even) {
  background-color:black;
} 
td:nth-of-type(odd) {
  background-color:rgba(255,255,209,0.3);
} 
td:nth-of-type(even) {
  background-color:rgba(10,255,209,0.3);
} 
table
{
width:100%;	
}
tr td
{
	border-color:#000;
	padding-left:20px;
	padding-right:20px;	
}
#container
{
margin-left:200px;
margin-right:200px;
margin-top:20px;
margin-top:10;
box-shadow:#c5c5c5 3px 3px 11px 2px;
border-radius:5px;
}
#x
{
padding-top:8%;	
padding-left:35%;
	
}
#x fieldset
{
width:250px;
border:thin;
border-radius:8px;
background:rgba(255, 200, 200,0.2);	
box-shadow:1px 1px 1px 6px rgba(255,255,255,0.2);
	
}
#x fieldset input[type='text']
{
float:right;	
}
#x fieldset input[type='password']
{
float:right;	
}
hr
{
	margin:0;
	padding:0;
	
}
input[type='submit']
{
	padding:0 10px 0 10px;
	float:right;
	border-radius:15px;
	color:ghostwhite;
	background:radial-gradient(#09F,#00F);
	font-weight:bolder;
	text-shadow:1px 1px 1px #00CCFF,
	            1px 1px 0 #00CCFF,
				0 1px 1px #00CCFF,
				1px 0 1px #00CCFF,
				1px 1px 1px #000;
	box-shadow:rgba(255,255,255,0.3) 2px 2px 7px 2px;
	
}
input[type='submit']:hover
{
	background:radial-gradient(#0F0,#030);
	text-shadow:1px 1px 1px #3F0,
	            1px 1px 0 #3F0,
				0 1px 1px #3F0,
				1px 0 1px #3F0,
				1px 1px 1px #000;
}
#header{
background:#00ffff;
color:#ffffff;
height:100px;
font-size:36px;
line-height:100px;
text-shadow:1px 1px 1px black,
            1px 1px 1px black,
			1px 1px 1px black,
			1px 1px 1px black,
			1px 1px 1px black;
			padding-left:50px;
			border-top-right-radius:5px;
			border-top-left-radius:5px;
			overflow:hidden;
 }
 /*
#nav
{
height:30px;
background:linear-gradient(10deg ,#0080FF,#28B9FF,#6ACFFF,#28B9FF,#0080FF);
line-height:30px;
}
*/
#bod
{
background:repeating-linear-gradient(45deg,rgba(2,23,255,0.3) ,rgba(250,23,255,0.3) ,rgba(200,100,220,0.3) );
height:400px;
}
#nav
{
height:30px;
background:linear-gradient(#000,#666,#333 ,#000);
line-height:30px;
margin:0;
padding:0;
left:20px;
}
#nav ul
{  
	margin:0;
	padding:0;
	line-height:30px;
}
nav li
{
margin:0;
padding:0;
list-style:none;
float:left;
position:relative;	
}
#nav ul li a
{
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	text-decoration:none;
	height:30px;
	width:180px;
	display:block;
	color:white;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
}
#nav ul ul
{
	position:absolute;
	visibility:hidden;
	top:30px;
	
}
#nav ul li:hover ul
{
visibility:visible;
background:#333;	
}
#nav ul li ul li
{
	border-top:solid 2px black ;
	background:#666;
	
}
#nav ul li ul li:hover
{
text-shadow:#0F0 1px 1px;
}
#de {
	height:390px;
	
	width:100% auto;
}
#de table
{
	max-height:380px;
	overflow:scroll;
	
}
#tab
{
	padding:2px 1px 0 5px;
	max-height:380px;
	overflow-y:scroll;
}
#footer
{
background:#00ffff;	
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
height:30px;
color:white;
font-weight:bold;
line-height:30px;
padding-left:30px;
text-shadow:1px 1px 1px black;
}
#drop ul
{
	margin:0;
	padding:0;
	
}
#drop li
{
margin:0;
padding:0;
list-style:none;
float:left;
position:relative;	
}
#drop ul li a
{
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	text-decoration:none;
	height:30px;
	width:100px;
	display:block;
	color:white;
	font-weight:bold;
	
}
#drop ul ul
{
	position:absolute;
	visibility:hidden;
	top:30px;
	
}
#drop ul li:hover ul
{
visibility:visible;
background:#333;	
}
#drop ul li ul li
{
	border-top:solid 2px black ;
	background:#666;
	
}
#drop ul li ul li:hover
{
text-shadow:#0F0 1px 1px;
}
/*   
ul
{
	list-style:none;
}
ul li a
{
	text-decoration:none;
	color:black;
	border:solid 1px black;
	position:relative;
	padding:2px 10px 2px 10px;
	display:block;
}
ul li ul
{
visibility:hidden;
position:relative;	
}
ul li:hover, ul li ul li
{
	visibility:visible;
}
*/
